# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Pytest caches
.pytest_cache/

# Coverage
JiraVision/.coverage
JiraVision/htmlcov/
JiraVision/coverage.xml
.coverage

# Local env / secrets
JiraVision/.env
JiraVision/env
JiraVision/sessions.json

# Logs
uvicorn_server.log

# Editor backups / stray files
Coucou~

# IDE / Editor
.vscode/
.idea/

# macOS
.DS_Store
